:root{
    --pink : #f14e95;
    --bg : #0a0a0a;
    --shadow : 0 2px 2px rgb (0 0 0 / 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 2000px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/Wedding-Wallpapers.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale();
}

.hero{
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
    color: #0a0a0a;
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero h4{
    font-size: 1.6rem;
}

.hero p{
    font-size: 1.4rem;
}

.hero a{
    color: var(--pink);
    background-color: #333131;
    box-shadow: var(--shadow);
}

.hero a:hover{
    background-color: var(--pink);
    color: white;
}

.mynavbar{
    background-color: rgba(250, 250, 250, 0.3) !important;
    backdrop-filter: blur(4px);
    height: 3rem;
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
    font-family: 'sacramento', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: auto;
}

.navbar .nav-link{
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar .nav-link:hover{
    color: var(--pink);
}

.home{
    background-color: #ccc;
    background-image: url(../img/prohe1.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 10rem;
    padding-bottom: 15rem;
}

.home h2, .story h2, .gallery h2, .rsvp h2, .gifts h2{
    color: var(--pink);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
    transform: translateX(-200px); /* Mulai dari luar layar (di kiri) */
    animation: slideIn1 1s ease forwards; /* Animasi masuk selama 1 detik */
}

.home h2{
	color: white !important;
}

@keyframes slideIn1 {
    0% {
        transform: translateX(-200px); /* Mulai dari posisi di luar layar */
    }
    100% {
        transform: translateX(0); /* Berhenti di posisi aslinya */
    }
}
.home h3{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    transform: translateX(-200px); /* Mulai dari luar layar (di kiri) */
    animation: slideIn2 2s ease forwards; /* Animasi masuk selama 1 detik */
    text-align: center;
	font-weight: bold;
}

@keyframes slideIn2 {
    0% {
        transform: translateX(-200px); /* Mulai dari posisi di luar layar */
    }
    100% {
        transform: translateX(0); /* Berhenti di posisi aslinya */
    }
}

.home p{
	background-color: rgba(254,255,255,0.7);
    font-size: 1.1rem;
    color: black;
    text-align: justify;
    text-indent: 30px;
    transform: translateX(-200px); /* Mulai dari luar layar (di kiri) */
    animation: slideIn3 4s ease forwards;
	margin-top: 5rem;
	font-weight: bold;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

@keyframes slideIn3 {
    0% {
        transform: translateX(-200px); /* Mulai dari posisi di luar layar */
    }
    100% {
        transform: translateX(0); /* Berhenti di posisi aslinya */
    }
}

.home .couple{
    margin-top: 50px;
}

.home .couple h3{
    font-family: 'Sacramento';
    font-size: 2rem;
    color: var(--pink);
}

.home .couple img{
    width: 100%;
    border-radius: 50%;
}

.home .heart{
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i{
    margin: auto;
    color: var(--pink);
}

.info {
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info h2{
    color: var(--pink);
    font-family: 'sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.info .alamat{
    font-size: 1.1rem;
}

.info .description{
    font-size: 1rem;
    font-weight: 300;
}

.info .card{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header{
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body{
    font-size: 1rem;
}

.info .card-footer{
    border-bottom: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
}

.story, .gallery, .rsvp, .gifts{
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.story span, .gallery span{
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.story p, .gallery p, .rsvp p, .gifts p{
    font-size: 1rem;
    font-weight: 300;
}

.timeline{
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before{
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline h3{
    cursor: pointer;
}

.timeline a{
    text-decoration: none;
}

.timeline .timeline-heading .link a{
    color: var(--bg);
}

.timeline li{
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before, .timeline li::after{
    content: '';
    display: table;
}

.timeline li::after{
    clear: both;
}

.timeline li .timeline-image{
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel{
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    transform: translateX(-200px); /* Mulai dari luar layar (di kiri) */
    animation: slideIn 5s ease forwards; /* Animasi masuk selama 1 detik */
}

@keyframes slideIn {
    0% {
        transform: translateX(-200px); /* Mulai dari posisi di luar layar */
    }
    100% {
        transform: translateX(0); /* Berhenti di posisi aslinya */
    }
}


.timeline li .timeline-panel::before{
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after{
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 15px solid transparent;
    top: 81px;
    right: -13px;
}

.timeline li.timeline-inverted .timeline-panel{
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before{
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.gallery{
    background-color: #e7b6b6;
}

.rsvp{
    background-color: var(--bg);
}

.rsvp h2{
    font-size: 4.5rem;
}

.rsvp p{
    color: white;
}


.rsvp form label{
    color: white;
}

.rsvp button{
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}
.rsvp button:hover{
    background-color: white;
    color: var(--pink);
    border: 1px solid white;
}

footer{
    padding: 3rem;
    background-color: var(--pink);
}

footer a{
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

footer li{
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

.audio-icon-wrapper{
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating{
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Media Query*/
/* Extra large */
@media (max-width: 1200px){
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }
}
/* Laptop */
@media (max-width : 992px){
    html{
        font-size: 75%;
    }
    .simply-countdown>.simply-section{
        padding: 70px;
    }
    .home{
        padding-bottom: 10rem;
    }
    .home .heart{
        display: none;
    }
    .timeline::before{
        left: 60px;
    }
    .timeline li .timeline-image{
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel{
        width: calc(100% - 200px);
        float: right;
    }
    .timeline li .timeline-panel::before{
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    .timeline li .timeline-panel::after{
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }

}
/* Tablet */
@media (max-width : 768px){
    html{
        font-size: 65%;
    }
	.home p{
		padding-left: 5rem;
		padding-right: 5rem;
	}
    .simply-countdown>.simply-section{
        padding: 60px;
        margin: 5px;
    }
    .navbar .nav-link{
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top{
        overflow: hidden;
    }

    .timeline li .timeline-image{
        width: 140px;
        height: 140px;
    }
    .timeline li p{
        font-size: 8px;
    }
}

/* Mobile Phone */
@media (max-width : 576px){
    html{
        font-size: 60%;
    }
	.home p{
		margin-left: 10px;
		margin-right: 10px;
	}
    .simply-countdown>.simply-section{
        padding: 45px;
        margin: 3px;
    }
    .timeline li .timeline-image{
        width: 80px;
        height: 80px;
    }
    .timeline li .timeline-panel{
        width: 65%;
        transform: translateX(-20px);
    }
    .timeline li .timeline-panel::before{
        top: 30px;
    }
    
    .timeline li .timeline-panel::after{
        top: 31px;
    }

}
